@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

body {
  background-image: url("/home-bg.jpg"); /* Use 'url()' to specify the image path */
  background-size: cover; /* Ensures the background image covers the entire body */
  width: 100vw;
  overflow-x: hidden;
  opacity: 0.8;
}

/* Neon text effect for the "Live with us" section */
.neon-text {
  color: #00bcd4; /* Neon greenish-blue color */
  text-shadow: 0 0 4px #00bcd4, 0 0 6px #00bcd4, 0 0 8px rgba(0, 188, 212, 0.5); /* Fewer layers for a sharper effect */
  transition: all 0.2s ease-in-out;
}

.neon-text:hover {
  text-shadow: 0 0 6px #00bcd4, 0 0 10px #00bcd4,
    0 0 12px rgba(0, 188, 212, 0.8); /* Slightly stronger glow on hover */
  transform: scale(1.05);
}
